.discover{
  background-color: rgb(247 249 251);
  padding-top: 124px;
  padding-bottom: 84px;
  display: flex;
  justify-content: center;
}
.discover-container{
  display: flex;
  width: 1110px;
  justify-content: space-between; 
}
.user-summary{
  width: 317px;
}

.user-summary-heading{
  font-size: 32px;
  color: rgb(36, 38, 42);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.user-summary-text{
  color: rgb(85, 89, 94);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.4px;
}
.employment-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5px
}
.employment-date{
  color: rgb(11, 54, 168);
  font-size: 13px;
  font-weight: 650;
  letter-spacing: 0.5px;
}
.employee{
  font-size: 16px;
  font-weight: 650;
  letter-spacing: 1px;
  color: rgb(36, 38, 42);
  margin: 10px 0px 5px 0px;
}
.role{
  color: rgb(85, 89, 94);
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.4px;
}



