
.hero-section-background-image{
  width: 100%;
}
.hero-section{
  position: relative;
}
.hero-section-overlay{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.6;
}