.hero-section-background-image{
  width: 100%;
}
.hero-section{
  position: relative;
}
.hero-section-overlay{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: black;
  opacity: 0.6;
}
.heading-container{
  position: absolute;
  right: 0px;
  left: 0px;
  top:350px;
  display: flex;
  justify-content: center;
}
.heading-container div{
  width: 1310px;
}
.user-name{
  color: white;
  font-size: 60px;
  margin: 0px;
  font-family: 'Playfair Display', serif;
}
.heading-container h2{
  margin: 0px;
  color: white;
  letter-spacing: 5px;
  font-size: 15px;  
}
.hire-me-button{
  margin-top: 40px;
  border: none;
  color: white;
  background-color: rgb(0, 38, 167);
  padding: 1.325rem 3.625rem;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
.hire-me-button:hover{
  border: 1px solid white;
  background-color: rgb(36, 38, 42);
}